server:
  port: 8083

spring:
  application:
    name: reward-service

  datasource:
    url: jdbc:postgresql://postgres-reward:5432/rewarddb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: reward-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.paypal.reward_service.entity.Transaction
        spring.json.use.type.headers: false
    listener:
      missing-topics-fatal: false

  cloud:
    compatibility-verifier:
      enabled: false

logging:
  level:
    com.paypal.reward_service: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.kafka: DEBUG

# Reward configuration
app:
  rewards:
    points-per-transaction: 10
    minimum-amount-for-rewards: 5.00