server:
  port: 8088

spring:
  application:
    name: wallet-service

  datasource:
    url: jdbc:postgresql://postgres-wallet:5432/walletdb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: wallet-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  cloud:
    compatibility-verifier:
      enabled: false

jwt:
  secret: my-super-secret-key-that-you-never-share

logging:
  level:
    com.paypal.wallet_service: DEBUG
    org.hibernate.SQL: DEBUG